<section class="banner" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="container text-center ">
                        <h1 class="card-title">{{data.title}}</h1>
                    <p>{{data.subTitle}}</p>
                    <button type="button" class="btn btn-dark" onclick="window.location.href= '{{data.buttonUrl}}';">{{data.button}}</button>
                </div>
                
            </div>
            <div class="col-md-6">
                <img class="d-block w-100 " src="{{data.imageUrl}}" style="height: 350px;width:200px " alt="First slide">
            </div>
        </div>
    </div>
</section>